@keyframes downarrow {
  0% { -webkit-transform: translateY(0); opacity: 0.4 }
  100% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
}
.arrow {
  border-color:transparent;
  border-style:solid;
  border-width:0 2em;
  display:block;
  height:0;
  margin: auto;
  opacity:0.4;
  text-indent:-9999px;
  transform-origin: 50% 50%;
  width:0;
  text-shadow: #000 1px 0 10px;
}
.down {
  animation: downarrow 0.6s infinite alternate ease-in-out;
  border-top:2em solid #fff;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .fade-in {
	        animation: fade-in 0.5s linear both;
}
@keyframes scale-up-center {
    0% {
              transform: scale(1);
    }
    100% {
              transform: scale(1.5);
    }
  }
  .scale-up-center:hover {
	        animation: scale-up-center 0.1s ease-in both;
            cursor: pointer;
}