@media only screen and (min-width: 992px) {
    .header__titulo {
    padding: 10px;
    position: relative;
    top: 30%;
        h1 {
        font-size: 2.5rem;
        font-family: $fuente-titulo;
        color: #fff;
        font-weight: 700;
        text-align: center;
        letter-spacing: 2px;
        }
    }
}
@media only screen and (min-width: 768px) {
.mainHome {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
}
.mainHome__texto, p.mainHome__texto {
        padding: 10px;
        width: 40%;
        overflow: hidden;
}
img.mainHome__imagen {
        padding: 10px;
        width: 40vw;
        object-fit: cover;
}
}
@media only screen and (min-width: 650px) {
    footer {
        background-color: $verde;
        padding: 40px 20px;
        display: grid;
        grid-template-columns: 40% 20% 20%;
        grid-template-rows: auto auto;
        gap: 5px 10px;
        grid-template-areas:
                            "footLogo footEnlaces footContacto"
                            "footCopy footCopy footCopy";
        justify-items: center;
        justify-content: space-evenly;
        align-items: center;
    }
}
@media only screen and (min-width: 480px) {
    .servicios__menu { 
        grid-area: serviciosMenu;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
        justify-items: center;
        align-content: center;
        align-items: center;
        justify-self: center;
    }
}
@media only screen and (min-width: 1024px) {
    .servicios {
    padding: 20px;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: auto 0.7fr 1fr 0.7fr 0.7fr auto;
    gap: 30px 20px;
    grid-template-areas:
      "serviciosMenu serviciosMenu"
      "foto--eventos texto--eventos"
      "serviciosOpcionales serviciosOpcionales"
      "texto--fliadoc foto--fliadoc"
      "foto--producto texto--producto"
      "preguntasFrecuentes preguntasFrecuentes";
    justify-content: center;
    align-content: center;
    align-items: center;
  }
.servicios__menu { 
    grid-area: serviciosMenu;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .serviciosOpcionales {
    grid-area: serviciosOpcionales;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto 1fr;
    gap: 5px 20px;
    grid-template-areas:
        "tituloOpcionales tituloOpcionales tituloOpcionales"
        "imagen--Fotolibro imagen--Guirnalda imagen--Ready"
        "titulo--Fotolibro titulo--Guirnalda titulo--Ready"
        "texto--Fotolibro texto--Guirnalda texto--Ready";
}
}
@media only screen and (min-width: 600px) {
    .contacto__foto {
        img {
        width: 430px;
        height: 600px;
        object-fit: cover;
        padding: 20px;
        }
    }
}