@media only screen and (min-width: 992px) {
    .header__titulo {
        margin: 0px 31vw;
        padding: 10px;
        position: relative;
        top: 35%;
            h1 {
                @include h1;
                text-shadow: #000 1px 0 10px;
            }
    }
    .header__texto {
        p {
            text-align: center;
            color: #fff;
            text-shadow: #000 1px 0 10px;
            font-style: italic;
        }
    }
    .servicios__menu--texto {
        width: 192px;
        height: 90px;
        position: absolute;
        top: 3%;
        font-family: $fuente-titulo;
        font-weight: 700;
        font-size: 20px;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        display: none;
    }
    .servicios__menu--contenedor:hover .servicios__menu--texto {
        background-color: rgba(94, 100, 114, 0.7);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .QR {
        display: flex;
        p {
            text-align: left;
        }
    }
}
@media only screen and (min-width: 360px) {
    .logoTexto {
        font-size: 1.88rem;
        font-family: 'Amatic SC', cursive;
        color: $rosa;
        font-weight: 700;
        text-align: center;
        letter-spacing: 2px;
        margin-left: 15px;
        display: inline-block;
        }
}
@media only screen and (min-width: 992px) {
    .nav__redes {
        display: inline-block;
        img {
            width: 45px;
            padding: 10px;
            filter: grayscale(60%);
            transition: all 0.3s;
            &:hover {
                filter: none;
            }
        }
    }
}
@media only screen and (min-width: 768px) {
.mainHome {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
}
.mainHome__texto, p.mainHome__texto {
        padding: 10px;
        width: 40%;
        overflow: hidden;
}
img.mainHome__imagen {
        padding: 10px;
        width: 40vw;
        object-fit: cover;
}
}
@media only screen and (min-width: 600px) {
    .container-fluid--nav {
        justify-content: space-around !important;
    }
    footer {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
                        "footLogo footLogo footLogo"
                        "footEnlacesUno footEnlacesDos footContacto"
                        "footCopy footCopy footCopy";
}
}
@media only screen and (min-width: 1024px) {
    footer {
        background-color: $verde;
        padding: 20px 10px;
        display: grid;
        grid-template-columns: 40% 20% 20% 20%;
        grid-template-rows: auto auto;
        grid-template-areas:
                            "footLogo footEnlacesUno footEnlacesDos footContacto"
                            "footCopy footCopy footCopy footCopy";
        justify-items: center;
        justify-content: space-evenly;
        align-items: flex-start;
    }
}
@media only screen and (min-width: 480px) {
    .footer__logo {
        img {
            width: 150px;
        }
    }
    .servicios__menu { 
        grid-area: serviciosMenu;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
        justify-items: center;
        align-content: center;
        align-items: center;
        justify-self: center;
    }
}
@media only screen and (min-width: 1024px) {
    .servicios {
    padding: 20px;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: auto 0.7fr 1fr 0.7fr 0.7fr auto;
    gap: 30px 20px;
    grid-template-areas:
      "serviciosMenu serviciosMenu"
      "foto--eventos texto--eventos"
      "serviciosOpcionales serviciosOpcionales"
      "texto--fliadoc foto--fliadoc"
      "foto--producto texto--producto"
      "preguntasFrecuentes preguntasFrecuentes";
    justify-content: center;
    align-content: center;
    align-items: center;
  }
.servicios__menu { 
    grid-area: serviciosMenu;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .serviciosOpcionales {
    grid-area: serviciosOpcionales;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto 1fr;
    gap: 5px 20px;
    grid-template-areas:
        "tituloOpcionales tituloOpcionales tituloOpcionales"
        "imagen--Fotolibro imagen--Guirnalda imagen--Ready"
        "titulo--Fotolibro titulo--Guirnalda titulo--Ready"
        "texto--Fotolibro texto--Guirnalda texto--Ready";
}
}