.sobremi {
    padding: 30px;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('../images/lau.jpg');
    background-size: cover;
    min-height: 100vh;
        p {
            background-color: rgba(255, 255, 255, 0.1);
            padding: 10px 30px;
            color: #fff;
            margin: auto;
            width: 100%;
            text-align: left;
        }
}