@mixin h1 {
    font-size: 2.5rem;
    font-family: $fuente-titulo;
    color: #fff;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    }
@mixin h2 {
        font-family: $fuente-titulo;
        color: $rosa;
        font-weight: 700;
        font-size: 2.5rem;
        letter-spacing: 2px;
        padding: 5px 10px;
}
@mixin h3 {
        font-family: $fuente-titulo;
        color: $rosa;
        font-weight: 700;
        font-size: 2.19rem;
        letter-spacing: 1.5px;
        padding: 5px;
        text-align: center;
}
@mixin h4 {
        font-family: $fuente-titulo;
        color: #fff;
        font-weight: 700;
        font-size: 1.9rem;
        letter-spacing: 1.7px;
}
@mixin h5 {
        font-family: $fuente-titulo;
        color: $rosa;
        font-weight: 700;
        font-size: 1.56rem;
        letter-spacing: 1.5px;
        text-align: center;
}