/*paleta de colores*/
$rosa: #ffa69e;
$amarillo: #faf3dd;
$verde: #b8f2e6;
$celeste: #aed9e0;
$gris: #5e6472;
$fondo: linear-gradient(to bottom, #fed8d7, #ffddd5, #ffe2d5, #ffe7d6, #fdecd8, #f9eed7, #f3f1d7, #edf3d8, #e1f3d7, #d4f3da, #c6f3df, #b8f2e6);
/*fuentes*/
$fuente-titulo: 'Amatic SC', cursive;