@charset "UTF-8";
/*paleta de colores*/
/*fuentes*/
/* line 1, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_general.scss */
* {
  margin: 0px;
  padding: 0px;
}

/* line 5, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_general.scss */
p {
  margin: 15px;
  color: #5e6472;
  font-size: 1rem;
  text-align: justify;
}

/* line 11, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_general.scss */
body {
  background-color: #faf3dd;
}

/* line 14, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_general.scss */
.header, .header__imagen {
  width: 100%;
  height: 90vh;
}

/* line 18, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_general.scss */
.header__imagen {
  background-size: cover;
  background-position: center;
}

/* line 24, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_general.scss */
.header__imagen--home {
  background-image: url("../images/home.jpg");
}

/* line 24, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_general.scss */
.header__imagen--servicios {
  background-image: url("../images/servicios.jpg");
}

/* line 24, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_general.scss */
.header__imagen--portfolio {
  background-image: url("../images/portfolio.jpg");
}

/* line 24, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_general.scss */
.header__imagen--sobremi {
  background-image: url("../images/sobremi.jpg");
}

/* line 24, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_general.scss */
.header__imagen--contacto {
  background-image: url("../images/contacto.jpg");
}

/* line 24, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_general.scss */
.header__imagen--404 {
  background-image: url("../images/404.jpg");
}

/* line 28, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_general.scss */
.logoTexto {
  font-size: 1.88rem;
  font-family: 'Amatic SC', cursive;
  color: #ffa69e;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
}

/* line 36, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_general.scss */
.header__titulo {
  padding: 10px;
  position: relative;
}

/* line 39, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_general.scss */
.header__titulo h1 {
  font-size: 2.5rem;
  font-family: "Amatic SC", cursive;
  color: #fff;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
}

/* line 49, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_general.scss */
footer {
  background-color: #b8f2e6;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  gap: 10px 0px;
  grid-template-areas: "footLogo footLogo" "footEnlaces footContacto" "footCopy footCopy";
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
}

/* line 64, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_general.scss */
.footer__logo {
  font-size: 0.75rem;
  overflow: hidden;
  color: #5e6472;
  text-align: justify;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  grid-area: footLogo;
}

/* line 74, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_general.scss */
.footer__enlaces, .footer__enlaces nav, .footer__enlaces ul, .footer__enlaces ul a {
  display: inline-block;
  list-style: none;
  color: #6bbc9a;
  font-size: 0.75rem;
  text-decoration: none;
  text-transform: capitalize;
  grid-area: footEnlaces;
}

/* line 84, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_general.scss */
.footer__enlaces--hover, .footer__enlaces ul a:hover {
  color: #0e9cdd;
}

/* line 87, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_general.scss */
.footer__contacto {
  text-align: center;
  grid-area: footContacto;
}

/* line 92, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_general.scss */
.footer__contacto--titulo h5 {
  font-family: "Amatic SC", cursive;
  color: #ffa69e;
  font-weight: 700;
  font-size: 1.56rem;
  letter-spacing: 1.5px;
  padding: 10px;
}

/* line 102, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_general.scss */
.footer__contacto--texto p {
  color: #5e6472;
  font-size: 0.75rem;
  padding: 5px;
}

/* line 108, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_general.scss */
img.footer__contacto--logos {
  width: 40px;
}

/* line 111, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_general.scss */
.footer__copyright {
  color: #5e6472;
  font-size: 0.75rem;
  padding: 5px;
  justify-self: center;
  grid-area: footCopy;
}

/* line 119, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_general.scss */
.pagina-error p {
  text-align: center;
  color: #fff;
}

/* line 2, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_bootstrapcambios.scss */
.navbar-dark .navbar-nav .nav-link {
  color: #aed9e0;
}

/* line 5, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_bootstrapcambios.scss */
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: #b8f2e6;
}

/* line 9, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_bootstrapcambios.scss */
.navbar-dark .navbar-nav .nav-link.disabled {
  color: #aed9e0;
}

/* line 14, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_bootstrapcambios.scss */
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link.active {
  color: #aed9e0;
}

/* line 20, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_bootstrapcambios.scss */
.nav-justified > .nav-link,
.nav-justified .nav-item {
  flex-basis: 0;
  flex-grow: 0;
  text-align: center;
  text-transform: capitalize;
  font-size: 1rem;
}

/* line 29, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_bootstrapcambios.scss */
.navbar, .dropdown-menu {
  background-color: rgba(94, 100, 114, 0.7);
  box-shadow: 0px 11px 15px 1px rgba(0, 0, 0, 0.75);
  color: #aed9e0;
  text-transform: capitalize;
  font-size: 1rem;
}

/* line 36, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_bootstrapcambios.scss */
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0;
}

/* line 40, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_bootstrapcambios.scss */
.dropdown-item {
  color: #aed9e0;
}

/* line 43, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_bootstrapcambios.scss */
.dropdown-item:hover {
  color: #b8f2e6;
  background-color: rgba(94, 100, 114, 0.7);
}

/* line 48, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_bootstrapcambios.scss */
.accordion-button:focus, .accordion-button, .accordion-button:not(.collapsed) {
  color: #5e6472;
  background-color: #fed8d7;
  border-color: #b8f2e6;
  box-shadow: 0 0 0 0.25rem rgba(174, 217, 224, 0.25);
}

/* line 54, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_bootstrapcambios.scss */
.accordion-body {
  color: #5e6472;
  background-color: #aed9e0;
}

/* line 1, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_home.scss */
.mainHome {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px;
}

/* line 8, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_home.scss */
.mainHome__texto, p.mainHome__texto {
  padding: 5px;
  width: 70%;
  overflow: hidden;
}

/* line 13, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_home.scss */
img.mainHome__imagen {
  padding: 5px;
  width: 70vw;
  object-fit: cover;
}

/* line 1, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_servicios.scss */
.servicios {
  padding: 20px;
  display: grid;
  grid-template-rows: auto auto 450px auto auto 450px auto 450px auto auto;
  grid-template-columns: 1fr;
  gap: 20px;
  grid-template-areas: "serviciosMenu" "serviciosMenu" "foto--eventos" "texto--eventos" "serviciosOpcionales" "foto--fliadoc" "texto--fliadoc" "foto--producto" "texto--producto" "preguntasFrecuentes";
  justify-content: center;
  align-content: center;
  align-items: start;
}

/* line 22, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_servicios.scss */
.servicios__menu {
  grid-area: serviciosMenu;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* line 28, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_servicios.scss */
.servicios__menu--contenedor {
  position: relative;
  display: inline-block;
  padding: 3px;
  border: 1px dashed #000;
}

/* line 34, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_servicios.scss */
.servicios__menu--imagen {
  width: 192px;
  height: 90px;
  object-fit: cover;
}

/* line 39, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_servicios.scss */
.servicios__menu--texto {
  width: 192px;
  height: 90px;
  position: absolute;
  top: 3%;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  display: none;
}

/* line 52, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_servicios.scss */
.servicios__menu--contenedor:hover .servicios__menu--texto {
  background-color: rgba(94, 100, 114, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 59, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_servicios.scss */
.servicios__titulo h2 {
  font-family: "Amatic SC", cursive;
  color: #ffa69e;
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 2px;
  padding: 5px 10px;
}

/* line 68, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_servicios.scss */
.servicios__titulo--Opcionales {
  grid-area: tituloOpcionales;
  text-align: center;
}

/* line 72, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_servicios.scss */
.servicios__texto {
  justify-self: stretch;
  overflow: hidden;
}

/* line 76, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_servicios.scss */
.servicios__foto {
  background-size: cover;
  background-position: top center;
  justify-self: stretch;
  align-self: stretch;
  padding: 5px;
}

/* line 84, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_servicios.scss */
.servicios__texto--eventos {
  grid-area: texto--eventos;
}

/* line 87, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_servicios.scss */
.servicios__foto--eventos {
  grid-area: foto--eventos;
  background-image: url("../images/principal_eventos.jpg");
}

/* line 84, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_servicios.scss */
.servicios__texto--fliadoc {
  grid-area: texto--fliadoc;
}

/* line 87, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_servicios.scss */
.servicios__foto--fliadoc {
  grid-area: foto--fliadoc;
  background-image: url("../images/principal_fliadoc.jpg");
}

/* line 84, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_servicios.scss */
.servicios__texto--producto {
  grid-area: texto--producto;
}

/* line 87, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_servicios.scss */
.servicios__foto--producto {
  grid-area: foto--producto;
  background-image: url("../images/principal_producto.jpg");
}

/* line 92, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_servicios.scss */
.serviciosOpcionales {
  grid-area: serviciosOpcionales;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 450px auto auto 450px auto auto 450px auto auto;
  gap: 5px 20px;
  grid-template-areas: "tituloOpcionales" "imagen--Fotolibro" "titulo--Fotolibro" "texto--Fotolibro" "imagen--Guirnalda" "titulo--Guirnalda" "texto--Guirnalda" "imagen--Ready" "titulo--Ready" "texto--Ready";
}

/* line 110, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_servicios.scss */
.serviciosOpcionales__imagen {
  background-size: cover;
  background-position: center;
  justify-self: stretch;
  align-self: stretch;
  padding: 5px;
}

/* line 118, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_servicios.scss */
.serviciosOpcionales__titulo h3 {
  font-family: "Amatic SC", cursive;
  color: #ffa69e;
  font-weight: 700;
  font-size: 2.19rem;
  letter-spacing: 1.5px;
  padding: 5px;
  text-align: center;
}

/* line 129, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_servicios.scss */
.serviciosOpcionales__imagen--Fotolibro {
  grid-area: imagen--Fotolibro;
  background-image: url("../images/Fotolibro.jpg");
}

/* line 133, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_servicios.scss */
.serviciosOpcionales__titulo--Fotolibro {
  grid-area: titulo--Fotolibro;
}

/* line 136, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_servicios.scss */
.serviciosOpcionales__texto--Fotolibro {
  grid-area: texto--Fotolibro;
}

/* line 129, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_servicios.scss */
.serviciosOpcionales__imagen--Guirnalda {
  grid-area: imagen--Guirnalda;
  background-image: url("../images/Guirnalda.jpg");
}

/* line 133, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_servicios.scss */
.serviciosOpcionales__titulo--Guirnalda {
  grid-area: titulo--Guirnalda;
}

/* line 136, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_servicios.scss */
.serviciosOpcionales__texto--Guirnalda {
  grid-area: texto--Guirnalda;
}

/* line 129, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_servicios.scss */
.serviciosOpcionales__imagen--Ready {
  grid-area: imagen--Ready;
  background-image: url("../images/Ready.jpg");
}

/* line 133, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_servicios.scss */
.serviciosOpcionales__titulo--Ready {
  grid-area: titulo--Ready;
}

/* line 136, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_servicios.scss */
.serviciosOpcionales__texto--Ready {
  grid-area: texto--Ready;
}

/* line 140, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_servicios.scss */
.servicios__preguntasFrecuentes {
  grid-area: preguntasFrecuentes;
}

/* line 143, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_servicios.scss */
.servicios__titulo--preguntasFrecuentes {
  text-align: center;
}

/* line 1, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_portfolio.scss */
.portfolio {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-between;
}

/* line 8, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_portfolio.scss */
.portfolio img {
  object-fit: cover;
  width: 300px;
  height: 300px;
  padding: 10px;
}

/* line 1, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_sobremi.scss */
.sobremi {
  padding: 30px;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("../images/lau.jpg");
  background-size: cover;
  min-height: 100vh;
}

/* line 8, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_sobremi.scss */
.sobremi p {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 30px;
  color: #fff;
  margin: auto;
  width: 70%;
}

/* line 1, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_contacto.scss */
.contacto {
  padding: 20px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* line 10, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_contacto.scss */
.contacto__foto img {
  width: 300px;
  height: 350px;
  object-fit: cover;
  padding: 20px;
}

/* line 17, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_contacto.scss */
.contacto__form {
  font-family: Varta, Geneva, Tahoma, sans-serif;
  font-size: 0.88rem;
  line-height: 130%;
  color: #303238;
  padding: 20px;
}

/* line 24, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_contacto.scss */
.form__fieldset {
  background-color: #aed9e0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* line 32, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_contacto.scss */
.form__titulo h4 {
  font-family: "Amatic SC", cursive;
  color: #fff;
  font-weight: 700;
  font-size: 1.9rem;
  letter-spacing: 1.7px;
  padding: 5px;
}

/* line 41, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_contacto.scss */
.fieldset__label {
  padding: 10px 0px 5px 0;
}

/* line 44, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_contacto.scss */
.fieldset__label--row {
  display: flex;
}

/* line 47, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_contacto.scss */
input.botones {
  align-self: center;
  padding: 4px;
  margin: 3px;
}

/* line 52, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_contacto.scss */
textarea {
  font-family: Varta, Geneva, Tahoma, sans-serif;
  padding: 10px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* line 9, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_animaciones.scss */
.fade-in {
  animation: fade-in 0.5s linear both;
}

@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

/* line 20, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_animaciones.scss */
.scale-up-center:hover {
  animation: scale-up-center 0.1s ease-in both;
  cursor: pointer;
}

@media only screen and (min-width: 992px) {
  /* line 2, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_media.scss */
  .header__titulo {
    padding: 10px;
    position: relative;
    top: 30%;
  }
  /* line 6, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_media.scss */
  .header__titulo h1 {
    font-size: 2.5rem;
    font-family: "Amatic SC", cursive;
    color: #fff;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
  }
}

@media only screen and (min-width: 768px) {
  /* line 17, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_media.scss */
  .mainHome {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
  }
  /* line 23, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_media.scss */
  .mainHome__texto, p.mainHome__texto {
    padding: 10px;
    width: 40%;
    overflow: hidden;
  }
  /* line 28, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_media.scss */
  img.mainHome__imagen {
    padding: 10px;
    width: 40vw;
    object-fit: cover;
  }
}

@media only screen and (min-width: 650px) {
  /* line 35, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_media.scss */
  footer {
    background-color: #b8f2e6;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: 40% 20% 20%;
    grid-template-rows: auto auto;
    gap: 5px 10px;
    grid-template-areas: "footLogo footEnlaces footContacto" "footCopy footCopy footCopy";
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media only screen and (min-width: 480px) {
  /* line 51, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_media.scss */
  .servicios__menu {
    grid-area: serviciosMenu;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    justify-items: center;
    align-content: center;
    align-items: center;
    justify-self: center;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 63, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_media.scss */
  .servicios {
    padding: 20px;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: auto 0.7fr 1fr 0.7fr 0.7fr auto;
    gap: 30px 20px;
    grid-template-areas: "serviciosMenu serviciosMenu" "foto--eventos texto--eventos" "serviciosOpcionales serviciosOpcionales" "texto--fliadoc foto--fliadoc" "foto--producto texto--producto" "preguntasFrecuentes preguntasFrecuentes";
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  /* line 80, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_media.scss */
  .servicios__menu {
    grid-area: serviciosMenu;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  /* line 86, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_media.scss */
  .serviciosOpcionales {
    grid-area: serviciosOpcionales;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto 1fr;
    gap: 5px 20px;
    grid-template-areas: "tituloOpcionales tituloOpcionales tituloOpcionales" "imagen--Fotolibro imagen--Guirnalda imagen--Ready" "titulo--Fotolibro titulo--Guirnalda titulo--Ready" "texto--Fotolibro texto--Guirnalda texto--Ready";
  }
}

@media only screen and (min-width: 600px) {
  /* line 101, ../Desafíos/Proyecto final/Maria-Laura-Photography/sass/_media.scss */
  .contacto__foto img {
    width: 430px;
    height: 600px;
    object-fit: cover;
    padding: 20px;
  }
}

/*# sourceMappingURL=estilos.css.map */